:root{
    --primary-color: #4D9DE0;
    --secondary-color: #F3722C;
    --third-color: #FFFFFF;
    --border-radius-big-card: 30px;
    --border-radius-secondary-big-card: 40px;
    --border-radius-btn-reg: 13px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik";
}
.background-tranc{
    background-color: rgba(0, 0, 0, 0.455);
    height: 100%;
    width: 100%;
}
.card-backround{
    background-color: var(--primary-color);
    max-width: 40%;
    max-height: 60%;
    padding: 2rem;
    border-radius: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video video{
    width: 100%;
}
.created-text{
    font-size: 36px;
    color: white;
    margin-top: 4rem;
}