.container-missing-account{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    z-index: 9999;  
    position: absolute;
    top: 0;
    direction: ltr;
}
.card-missing-account{
    background-color: #F3722C !important;
    border-radius: 20px;
    scale: 1.3;
}
.content{
    display: flex;
    align-items: center;
    padding: 2rem 2rem;
    justify-content: space-between;
}
.text{
    direction: rtl;
    color: white !important;
}
.big-font{
    font-size: 36px;
    font-weight: 700;
    color: white !important;
}
.middle-font{
    margin: 2rem 0;
    font-size: 16px;
    color: white !important;
}
.link-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D9DE0;
    width: 140px;
    height: 26px;
    border-radius: 6px;
    transition: 0.3s;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white !important;
    padding: 16px;
}
.link-sign:hover{
    filter:brightness(0.80);
}