:root{
    --primary-color: #4D9DE0;
    --secondary-color: #F3722C;
    --third-color: #FFFFFF;
    --border-radius-big-card: 30px;
    --border-radius-secondary-big-card: 40px;
    --border-radius-btn-reg: 13px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik";
}
a{ 
    text-decoration: none !important;
}
b{
    display: block;
}
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.444) !important;
    width: 10px; 
    border-radius: 10px;
}

section{
    height: 60vh;
}
nav{
    direction: rtl;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    border-bottom: 2px solid var(--primary-color);
    padding: 10px 0px;
    font-weight: 600 !important;
}
:is(nav) a, div{
    font-size: 24px;
    color: var(--primary-color);
}
.regs{
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-btn-reg);
    text-align: center;
    padding: 5px 8px;
}
.regs a{
    color: var(--third-color);
}
.login-side , .user-side{
    display: flex;
    align-items: center;
}
.login-side div , .user-side div{
    margin: 0 15px;
}
.userAvatar {
    display: flex;
    align-items: center;
}
.logo{
    direction: ltr;
}
.middle {
    padding: 0px 20px;
    display: flex;
    flex-direction: row;

}
.middle a{
    padding: 0 10px;
}
.middle a::after{
    content: "";
    border-bottom: 3px solid var(--secondary-color);
    display: flex;
    flex-direction: row;
    width: 0%;
    transition: 0.5s;
}
.middle a:hover::after{
    width: 100%;
}
.active {
    color: var(--secondary-color);
}
.dropdown-menu{
    background-color: var(--primary-color) !important;
    color: white !important;
}
.dropdown-item{
    color: white !important;
}
.dropdown-item:hover{
    background-color: var(--primary-color) !important;
    filter: brightness(0.9);
}

.drop-down-user, .drop-down-user div{
    color: white !important;
}
.drop-down-user .dropdown-item{
        display: flex;
        align-items: center;
}

.drop-down-user .dropdown-item i{
    font-size: 18px;
}
.drop-down-anmi{
    transition: 0.2s;
}
.phone-s{
    display: none;
}
.navbar-toggler , #close{
    display: none;
}
.nav-side{
    display: flex;
    align-items: center;
    width: 100%;
}
.middle{
    margin-right: 20%;
}
@media screen and (max-width: 1440px){
    .middle{
        margin: 0;
        padding: 0
    }
    .middle{
        justify-content: space-around;
    }
    .logo{
        margin-right: 5rem;
    }
}
@media screen and (max-width: 450px) {
    .navbar-toggler-icon{
        color: var(--primary-color) !important;
    }
    .color-nav{
        font-size: 36px;
        color: var(--primary-color);
    }
    .phone-s nav{
        direction: ltr;
    }
    .middle{
        flex-direction: column;
    }
    #laptop{
        width: 100%;
        height: fit-content;
        display: flex !important;
        padding: 0 0.75rem;
    }
    .navbar-toggler , #close{
        display: block;
    }
    .nav-side{
        background-color: white !important;
        width: 0% !important;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        overflow: hidden;
        align-items: flex-start;
        z-index: 999;
    }
    .active-nav{
        width: 100% !important;
        transition: 0.4s;
    }
    .unactive-nav{
        width: 0% !important;
        transition: 0.4s;
    }
    .middle{
        margin: 0;
        margin-top: 2rem;
    }
    .middle a{
        margin-bottom: 0.5rem;
    }
    .nav-side{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .user , .dropdown , .userAvatar{
        margin: 0 !important;
    }
    #close{
        background-color: transparent;
        border: 0;
        display: flex;
        margin-bottom: 1rem;
        padding: 1rem;
        color: var(--primary-color) !important;
        width: fit-content;
        transition: 0.4s;
    }
    #navbar-toggler{
        transition: 0.4s;
    }
}